tensorflow==2.3.1
tensorflow-quantum==0.4.0
Keras-Preprocessing==1.1.2
scikit-learn==1.0.1
tensorboard==2.5.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
qiskit==0.31.0
qiskit-aer==0.9.1
qiskit-aqua==0.9.5
qiskit-ibmq-provider==0.17.0
qiskit-ignis==0.6.0
qiskit-terra==0.18.3
docplex==2.22.213
dimod==0.10.7
click==8.0.0
python-dateutil==2.8.1
Pillow==8.2.0
cirq